#
# console methods
#

snippet dir "cd"
console.dir(${1});
endsnippet

snippet log "cl"
console.log(${1});
endsnippet

snippet time "ct"
console.time('${1}');
endsnippet

snippet end "cte"
console.timeEnd('${1}');
endsnippet
